:root {
  --accent: #18cfab;
  --secondary: #00cbf6;
  --accent-dark: #203e38;
  --title-color: #4e4e4e;
}

body,
html {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

.--accent-text {
  color: var(--accent);
}

.zoomImage {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: inherit;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
svg.svg-icon {
  width: 1em;
  height: 1em;
  position: relative;
}

.bg-wh {
  background-color: #fff;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
}

button:hover {
  filter: brightness(0.9);
}

.button {
  padding: 16px 18px;
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  line-height: 2;
  border-radius: 8px;
  box-shadow: 0 -5px 0 0 #fff;
  font-weight: 700;
  letter-spacing: 0.1em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.button--accent {
  background-color: var(--accent);
}
.button--accent .svg-icon {
  top: -1px;
  font-size: 18px;
}
.button--secondary {
  background-color: var(--secondary);
}

a,
button {
  transition: all 300ms;
}

.title {
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  color: var(--title-color);
  position: relative;
  padding-bottom: 45px;
  margin: 14px 0 54px;
}
.title::before,
.title::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 46%;
  width: 80px;
  height: 2px;
  background-color: #18cfab;
}

.title::after {
  bottom: 15px;
  left: 47%;
}

.title-white {
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.tabs__btn-list {
  display: flex;
  justify-content: space-between;
  gap: 0;
}
.tabs__btn {
  width: 20%;
  height: 72px;
  color: #717171;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #edefef;
  border-left-color: transparent;
  background: #f8fcfe;
  padding: 0 20px;
}
.tabs__btn:last-child {
  border-right-color: transparent;
}
.tabs__btn:hover {
  border: 1px solid #18cfab;
}
.tabs__btn.active {
  background-color: #18cfab;
  color: #fff;
  position: relative;
}
.tabs__btn.active::after {
  content: "";
  width: 27px;
  height: 15px;
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="13" viewBox="0 0 25 13" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M12.6977 12.4484L0.981557 0.720785H24.4136L12.6977 12.4484Z" fill="%2318CFAB"/></svg>');
  position: absolute;
  bottom: -14px;
}
.tabs__view-text {
  margin-top: 25px;
}
.tabs__item {
  display: none;
}
.tabs__item.show {
  display: flex;
  gap: 15px;
}

/* HEADER */
.header {
  position: absolute;
  z-index: 99;
  left: 0;
  top: 0;
  right: 0;
}

.header::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: #5e5d58;
  opacity: 0.6;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 21px;
}
.menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 25px;
  padding: 50px 0;
  margin-right: 5px;
  position: relative;
  top: -1px;
}
.menu__item {
  text-transform: uppercase;
  opacity: 0.6;
  transition: all 300ms;
  color: #fff;
  position: relative;
}
.menu__item-link {
  color: #dedede;

  font-size: 16px;
  font-style: normal;
  font-weight: 700;

  text-transform: uppercase;
}
.menu__item-link.active,
.menu__item-link:hover {
  color: var(--accent);
}

.menu__item-link::after {
  content: "";
  transition: all 300ms;
  opacity: 0;
}

.menu__item-link.active::after,
.menu__item-link:hover::after {
  width: 100%;
  height: 2px;
  background: var(--accent);
  position: absolute;
  bottom: -50px;
  left: 0;
  opacity: 1;
}

/* HEADER */

.bg-parallax {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  z-index: -99;
  top: 0;
  left: 0;
  right: 0;
  background: url("../images/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/*HERO*/
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: #fff;
  border-bottom: 20px solid #fff;
  padding-bottom: 246px;
}
.hero__content {
  display: flex;
  flex-direction: column;
  gap: 22px;
  text-align: center;
  padding-top: 362px;
}
.hero__content h1 {
  line-height: 1;
  text-transform: uppercase;
  font-size: 78px;
}
.hero__content h1 > span {
  line-height: 1;
  display: block;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 22px;
}
.hero__content p {
  font-size: 34px;
  color: #d4d4d4;
}

.hero__actions {
  margin-top: 134px;
  display: flex;
  align-items: center;
  gap: 26px;
}

/*HERO*/

/* INFO */

.info__list {
  display: flex;
  align-items: stretch;
}
.info__item {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  padding: 87px 20px;
}
.info__item:nth-child(even) {
  background: var(--accent);
  color: #fff;
}
.info__item:nth-child(odd) {
  background: var(--accent-dark);
  color: var(--accent);
}
.info__item {
  width: 100%;
}
.info__item p {
  font-size: 20px;

  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.info__item div {
  height: 100px;
  display: flex;
  align-items: start;
}
/* INFO */

/* our sevices*/

.services {
  padding: 83px 0 94px;
}

/* our sevices*/

/* CTA */
.cta {
  padding: 127px 0;
  background-image: url("../images/cta.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.cta h2 {
  color: var(--accent);
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.cta p {
  color: #d8d8d8;
  line-height: 40px;
  margin-bottom: 68px;
}
.cta .button {
  font-size: 15px;
  letter-spacing: 0.15px;
  padding: 16px 13px;
}

/* CTA */

/* Works */
.works {
  padding: 95px 0;
  background: #e9edef;
  text-align: center;
}

.works .title {
  margin: -3px 0 48px;
}
.works .tabs__btn-list {
  justify-content: center;
}
.works .tabs__btn {
  background: transparent;
  font-size: 14px;
  width: auto;
  height: 60px;
  position: relative;
  padding: 0 26px;
}
.works .tabs__btn:last-child {
  border-right-color: transparent;
}
.works .tabs__btn:hover {
  border: 1px solid #18cfab;
}
.works .tabs__btn.active {
  background-color: transparent;
  color: #717171;
}
.works .tabs__btn.active::after {
  all: unset;
}
.works .tabs__btn.active {
  border: 3px solid var(--accent);
}

.works__gallary {
  margin-top: 67px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(237px, 1fr));
  max-width: 1140px;
}
.works__gallary-item {
  object-fit: cover;
  position: relative;
}

.works .button {
  margin-top: 70px;
}

.works__gallary-item img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

.works__hover-box {
  position: absolute;
  top: 0;
  left: 0;
  background: #e9edef;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.3s;
}
.works__hover-box:hover {
  opacity: 1;
}
.works__hover-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.works__hover-btn-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin-bottom: 35px;
}
.works__hover-btn {
  height: 43px;
  width: 43px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--accent);
  color: var(--accent);
}
.works__hover-btn:hover {
  background-color: var(--accent);
  color: #fff;
}

.works__hover-btn-stop .square {
  width: 10px;
  height: 10px;
  background-color: currentColor;
}
.works__hover-title {
  color: var(--accent);
  font-size: 14.177px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.works__hover-category {
  color: #8a8a8a;
  font-size: 12.152px;
  font-weight: 300;
  text-transform: capitalize;
}
/* Works */

/* POST */
.post {
  background: #fff;
  padding: 82px 0 116px;
}
.post .title {
  margin: 0px 0 52px;
}
.pots__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 35px;
}
.post__list-item {
  position: relative;
  cursor: pointer;
}
.post__list-item:hover .post__list-item-date {
  background: var(--accent);
}
.post__list-item:hover h3 {
  color: var(--accent);
}
.post__list-item-date {
  position: absolute;
  transition: all 300ms;
  z-index: 99;
  background: var(--accent-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 66px;
  aspect-ratio: 1;
  padding: 4px;
  top: 0;
  right: 0;
  color: #fff;
}
.post__list-item-img img {
  max-width: 100%;
  width: 100%;
}
.post__list-item-info {
  padding: 8px 18px 10px;
}
.post__list-item-info h3 {
  color: #717171;
  font-size: 18px;
  transition: all 300ms;
}
.post__list-item-info p {
  color: #777;
  font-size: 14px;
  margin: 10px 0;
}
.post .post__list-item-info p span {
  position: relative;
  padding-right: 16px;
  margin-right: 12px;
}
.post .post__list-item-info p span::before {
  content: "";
  position: absolute;
  top: 10%;
  right: 0;
  width: 1px;
  height: 80%;
  background-color: currentColor;
}
.post .post__list-item-info p span:last-child {
  margin-right: 0;
  padding-right: 0;
}
.post .post__list-item-info p span:last-child::before {
  display: none;
}
.post .post__user {
}
.post .post__comment {
}

/* POST */
/* ABout */

.slick-active {
  transform: translate(0, -20px);
}

.slick-slide img {
  display: inline-block;
}

.about {
  background-image: url("../images/about-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 0 55px;
}
.about-slider-nav {
  --arrows-position: -45px;
  max-width: 460px;
  margin: 0 auto;
}
.about-slider-nav .about-nav-img {
  width: 60px;
  height: 60px;
  box-shadow: 0 0 0 6px rgb(31 218 181 / 20%);
  border-radius: 50%;
}
.about-slider-nav .slick-active {
  transform: translate(0, 0);
}
.about-slider-nav .slick-arrow {
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  border: 1px solid #bbb;
  width: 31px;
  height: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.25s;
  top: 45%;
}
.about-slider-nav .slick-arrow:hover {
  background-color: #18cfab;
  border-color: #18cfab;
}
.about-slider-nav .slick-prev {
  left: var(--arrows-position);
}
.about-slider-nav .slick-next {
  right: var(--arrows-position);
}
.about-slider-nav .slick-arrow .icon-left {
  top: -1px;
  left: -2px;
}
.about-slider-nav .slick-arrow .icon-right {
  top: -1px;
  left: -2px;
}
.about-slider-nav .slick-arrow::before {
  display: none;
}
.about-slider-nav .slick-slide {
  transition: 0.25s;
  position: relative;
  top: 0;
}
.about-slider-nav .slick-list {
  padding: 0 !important;
}
.about-slider-nav .slick-current {
  top: -20px;
}
.about .about-item .svg-icon {
  width: 44px;
  height: 30px;
  color: #18cfab;
  margin-bottom: 26px;
}

.about .about-item.slick-slide {
  padding: 20px 0 10px;
  text-align: center;
}
.about .about-item-text {
  color: #bbb;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.66;
  margin-bottom: 25px;
}
.about .slick-slide {
  transition: 0.25s;
}

.about .item {
  text-align: center;
  padding: 35px 0;
  transition: 0.25s;
}
.about .about-item-user-img {
  width: 166px;
  height: 166px;
  border-radius: 50%;
  border: 12px solid rgb(31 218 181 / 20%);
}
.about .user-info {
  line-height: 27px;
  margin-bottom: 32px;
}
.about .user-info-name {
  color: #18cfab;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.about .user-info-work {
  color: #bbb;
  font-size: 13px;
  font-weight: 300;
}
/* About */

/* Masonry */
.masonry {
  background: #fff;
  padding: 67px 0;
}
.masonry .title {
  margin: 41px 0 65px;
}
.masonry__grid-item {
  float: left;
  border-color: hsla(0, 0%, 0%, 0.5);
  margin-bottom: 10px;
  object-fit: cover;
  -webkit-transition: width 0.4s, height 0.4s;
  transition: width 0.4s, height 0.4s;
  max-width: 100%;
  object-fit: cover;
}

.masonry__grid-item img {
  max-width: 100%;
  width: 100%;
}
.sm {
  width: 170px;
  max-height: 158px;
}
.xsm img {
  max-height: 100%;
}
.xsm {
  width: 110px;
  height: 68px;
}
.md {
  width: 378px;
  max-height: 263px;
}
.smd {
  width: 355px;
  max-height: 393px;
}
.lg {
  width: 378px;
  max-height: 390px;
}
.masonry__grid-item.is-expand {
  width: calc(378px * 1.2) !important;
  max-height: uns;
  z-index: 2;
}
.mansory__load {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 52px;
}
/* Masonry */

/* LOADER */
.opposites {
  position: relative;
  width: 62px;
  height: 62px;
}
.opposites {
  animation: opposites 2.5s ease-out 0s infinite;
}
.tl,
.tr,
.br,
.bl {
  width: 30px;
  height: 30px;
  position: absolute;
}
.tl,
.tr {
  top: 0;
}
.tr,
.br {
  left: 30px;
}
.tl,
.br {
  animation: tlbr 2.5s ease-out 0s infinite;
}
.br,
.bl {
  top: 30px;
}
.tl,
.bl {
  left: 0;
}
.tr,
.bl {
  animation: trbl 2.5s ease-out 0s infinite;
}
.tl {
  background: red;
  transform-origin: bottom right;
}
.tr {
  background: green;
  transform-origin: bottom left;
}
.br {
  background: dodgerblue;
  transform-origin: top left;
}
.bl {
  background: gold;
  transform-origin: top right;
}

@keyframes tlbr {
  0% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(90deg);
  }
  40% {
    transform: rotate(90deg);
  }
  60% {
    transform: rotate(0);
  }
}
@keyframes trbl {
  20% {
    transform: rotate(0);
  }
  40% {
    transform: rotate(90deg);
  }
  60% {
    transform: rotate(90deg);
  }
  80% {
    transform: rotate(0);
  }
}
@keyframes opposites {
  80% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* LOADER*/

/* FOOTER */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 121px;
  background-color: #22353f;
}
.footer .footer__text {
  font-size: 14px;
  color: #aeaeae;
  font-weight: 300;
}
.footer .footer__text a {
  color: #18cfab;
}
/* FOOTER */

.hide {
  display: none;
}

.masonry__grid-hover {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.64);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  transition: all 0.2s ease-in-out;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
}

.masonry__grid-hover a {
  background: #14b9d5;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  width: 27px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9px;
}
.masonry__grid-item:hover .masonry__grid-hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.masonry__grid-item {
  overflow: hidden;
}
