.input-group {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 190px;
}

/*  */

.input {
  width: 100%;
  height: 40px;
  line-height: 1;
  padding: 0 16px;
  padding-right: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: 0.3s ease;
  font-size: 14px;
}

.input::placeholder {
  color: #9e9ea7;
}

.input:hover,
.input:focus {
  outline: none;
  border-color: rgba(234, 76, 137, 0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
  position: absolute;
  right: 1rem;
  color: #9e9ea7;
  width: 1rem;
  height: 1rem;
}

ul {
  padding: 0;
  margin: 20px 0 0;
  list-style: none;
}

.error {
  color: red;
}
.success {
  color: green;
}
