:root {
  --background-color: #fff;
  --text-color: #000;
  --tabs-bg: #23201d;
  --tabs-active-bg: #937341;
}

body {
  padding-top: 10px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.dark-theme {
  --background-color: #000;
  --text-color: #fff;
  --tabs-bg: #b14646;
  --tabs-active-bg: #e9e6e2;
}

ul {
  list-style: none;
  padding-left: 0;
}

.centered-content {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabs {
  display: flex;
}

.tabs-content li {
  display: none;
}

.tabs-content li.active {
  display: block;
}

.tabs-title {
  padding: 20px;
  background-color: var(--tabs-bg);
  color: var(--tabs-active-bg);
  cursor: pointer;
}

.tabs-title.active {
  background-color: var(--tabs-active-bg);
  color: var(--tabs-bg);
}
